
.contact{
  position: relative;
  width: 90%;
height: 200px;
border-radius: 101px;
border: 1px solid #B8B8B8;
background: #FFF;
display: flex;
align-items: center;
justify-content: space-evenly;
margin: auto;
margin-top: 450px;
margin-bottom: 300px;
}
.contact h2{
font-size: 30px;
font-weight: 600;
line-height: 134.9%;
}
.input{
  position: relative; 
  /* max-width: 32rem;  */
  
}

.input input{
  /* padding: 1rem;  */
  padding: 20px 10px 20px 20px;
border-radius: 9999px; 
border:1px solid #E5E7EB; 
width: 350px; 
font-size: 0.875rem;
line-height: 1.25rem; 
font-weight: 500; 
background-color: #F3F4F6; 
}
.input button{
  cursor: pointer;
  position: absolute; 
  top: 13%;
  right: 11px;
border: none;
padding-top: 0.75rem;
padding-bottom: 0.75rem; 
padding-left: 1.25rem;
padding-right: 1.25rem; 
border-radius: 9999px; 
font-size: 0.875rem;
line-height: 1.25rem; 
font-weight: 500; 
color: #ffffff; 
background-color: #2563EB; 
transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 300ms; 
}
.input button:hover {
  background-color: #1D4ED8; 
  }
@media screen and (max-width: 1200px){
/* .input{
  width: 40vw;
} */
}
@media screen and (max-width: 950px){
  .input::placeholder{
      font-size: 20px;
  
}

.contact h2{
  font-size: 28px;
  margin-left: 30px;
}
.contact{
  /* height:150px; */
  border-radius: 80px;
  justify-content: space-between;
}
}
@media screen and (max-width: 800px){
  .contact{
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .contact h2{
    margin-left: 0;
   }
 .input input{
  width: 50vw;
 }
 
 .input button{
  right: 16px;
 }
}
@media screen and (max-width: 660px){
  .contact{
      width: 90vw;
  }
 .input input{
  width: 65vw;
 }
 .contact h2{
  margin-left: 0;
 }
 .contact{
  border: none;
 }
}
@media screen and (max-width: 500px){
.input input{
  font-size: 18px;
}
.input input::placeholder{
  font-size: 14px;
}
.contact{
  border-radius: 20px;
  margin-left: 0;
}
.main_contact{
  margin: 5%;
}
.contact h2{
  text-align: center;
}
}
